@import "bootstrap\\variables.less";
@import "bootstrap\\mixins.less";

body { 
    padding-top: 56px; 
}

.navbar-brand {
    font-weight: bold;
}

.add-button {
    margin-left: @padding-base-horizontal;
    margin-right: @padding-base-horizontal;
    font-weight: bold;
}

.repo-row {
    display: table-row;

    & h3 {
        margin-top: 0;
    }

    & > div {
        display: table-cell;
    }
}

.repo-link {
    word-break: break-all;
    vertical-align: top;
}

.repo-button {
    padding-right: @padding-base-horizontal;
    vertical-align: top;
}

.repo-col {
    padding-left: @padding-base-horizontal;
    padding-right: @padding-base-horizontal;
    padding-top: @padding-large-vertical;
}

.bottom-margin {
    margin-bottom: 28px;
}

.content-header {
    background-color: @gray-lightest;
    border-bottom: 4px solid @gray-light;
    padding: @padding-base-horizontal;
    padding-top: @padding-large-horizontal;

    & > h2 {
        color: @brand-primary;
        margin: 0;
    }
}

@media (min-width: @screen-lg-min) {

    html, body {
        height: 100%;
        overflow: hidden;
    }
    
    .navbar-brand {
        font-size: @font-size-h1;
    }    

    .table {
        display: table;
        width: 100%;
    }

    .table-row {
        display: table-row;
        width: 100%;
    }

    .table-cell {
        display: table-cell;
        float: none;
        padding: 0;
        vertical-align: top;
    }

    .full-height {
        height: 100%;
    }

    .relative-wrapper {
        position: relative;
        height: 100%;
    }

    .scroll-wrapper {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-left: @padding-base-horizontal;
        padding-right: @padding-base-horizontal;
    }

    .intro-col {
        width: 15%;
        background-color: @brand-primary;
        color: white;        
        
        #gradient > .vertical(@start-color: @brand-primary; @end-color: darken(@brand-primary, 10%));
        .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
        background-repeat: repeat-x;
    }
    
    .repo-col {
        width: 25%;

        .scroll-wrapper {
            padding-top: @line-height-computed;
        }
    }
    
    .content-col {
        width: 60%;
        border-left: 1px solid @gray-lighter;
    }

    .details-readme {        
        border-right: 1px solid @gray-lighter;
        width: 50%;
    }

    .details-comments {
        width: 50%;
    }
}
