@using(Bs.Div().AddCss("table", "full-height").Begin())
{
    using (Bs.Div().AddCss("table-row").Begin())
    {
        using (Bs.Div().AddCss("table-cell").Begin())
        {
            using (Bs.Div().AddCss("content-header").Begin())
            {
                @Bs.Heading2("Add a Project")
            }
        }
    }
    using (Bs.Div().AddCss("table-row", "full-height").Begin())
    {
        using (Bs.Div().AddCss("table-cell", "full-height").Begin())
        {
            <p>Add</p>
        }
    }
}
